<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808383880095-l7dlqcv4ohd9mcspbtgocku8gt6264df.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808383880095-l7dlqcv4ohd9mcspbtgocku8gt6264df</string>
	<key>API_KEY</key>
	<string>AIzaSyBkjk7KuTtScQ3nHzgdkUSCDiXarH79Sig</string>
	<key>GCM_SENDER_ID</key>
	<string>808383880095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.swu.TabbarBasic.soo</string>
	<key>PROJECT_ID</key>
	<string>dbbasic-28cd5</string>
	<key>STORAGE_BUCKET</key>
	<string>dbbasic-28cd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808383880095:ios:14d68bf45f42ec69</string>
	<key>DATABASE_URL</key>
	<string>https://dbbasic-28cd5.firebaseio.com</string>
</dict>
</plist>