<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002767934659-91jq5nup1o77hhaa8ftan64u1dlgrnvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002767934659-91jq5nup1o77hhaa8ftan64u1dlgrnvo</string>
	<key>API_KEY</key>
	<string>AIzaSyCyIaHpJxJx_OljS3twkF9yFr2_cIaLPuw</string>
	<key>GCM_SENDER_ID</key>
	<string>1002767934659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.swu.FireBaseAuthBasic.sh</string>
	<key>PROJECT_ID</key>
	<string>authtest-7b2e4</string>
	<key>STORAGE_BUCKET</key>
	<string>authtest-7b2e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002767934659:ios:35b4464bcb9867e3</string>
	<key>DATABASE_URL</key>
	<string>https://authtest-7b2e4.firebaseio.com</string>
</dict>
</plist>